<!DOCTYPE html>
<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  {% load staticfiles %}
  <link href="{% static "vendor/css/bootstrap.min.css"%}" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="{% static "css/custom.css" %}" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="top-bar"></div>
  <div class="header">
    <div class="container">
      <div class="col-md-4 col-xs-4">
      </div>
      <div class="logo col-md-4 col-xs-4">
        <h2>Logo Goes Here</h2>
      </div>
      <div class="col-md-4 col-xs-4 options">
        <div class="phonecont"><span class="glyphicon glyphicon-earphone phone"> <a href="tel:9094360697">909-436-0697</a></span></div>
        <div class="dropdown">
          <span class="glyphicon glyphicon-user user"></span><a class="dropdown-toggle" href="#" data-toggle="dropdown"><strong>Sign In</strong></a><strong class="caret"></strong>
          <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
            <form role="form" class="login_form">
              <div class="form-group">
                <label for="username">Username: </label>
                <input class="form-control" type="text" name="username" id="username"/>
              </div>
              <div class="form-group">
                <label for="password">Password: </label>
                <input class="form-control" type="password" name="password" id="password"/>
              </div>
              <div id="forgotPassword">
                <a href="#">Forgot your Password?</a>
              </div>
              <input type="submit" class="rounded btn btn-primary" value="Login" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content container">
    <div class="row col-md-12">
      <img id="shadow" src="{% static "images/top-shadow.png" %}">
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 center">
       <h3>This text is a test, it is merely placeholder content at the moment!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="register">
          <h2>Register</h2>
          <img src="{% static "images/register-bar.png" %}">
          <form role="form" class="register_form">
            <div class="form-group">
              <label for="full_name">Full Name: </label>
              <input class="form-control" type="text" name="full_name" id="full_name"/>
            </div>
            <div class="form-group">
              <label for="age">Age: </label>
              <input class="form-control" type="text" name="age" id="age"/>
            </div>
            <div class="form-group">
              <label for="email">Email: </label>
              <input class="form-control" type="email" name="email" id="email"/>
            </div>
            <div class="form-group">
              <label for="password">Password: </label>
              <input class="form-control" type="password" name="password" id="password"/>
            </div>
            <div class="form-group">
              <label for="confirm_password">Confirm Password: </label>
              <input class="form-control" type="text" name="confirm_password" id="confirm_password"/>
            </div>
            <input type="submit" class="rounded btn btn-primary" value="Create Account" />
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="login">
          <h2>Log In</h2>
          <form role="form" class="login_form">
            <div class="form-group">
              <label for="username">Username: </label>
              <input class="form-control" type="text" name="username" id="username"/>
            </div>
            <div class="form-group">
              <label for="password">Password: </label>
              <input class="form-control" type="password" name="password" id="password"/>
            </div>
            <div id="forgotPassword">
              <a href="#">Forgot your Password?</a>
            </div>
            <input type="submit" class="rounded btn btn-primary" value="Login" />
          </form>
          <div class="row">
            <div class="col-xs-4 col-md-4">
              <img src="{% static "images/facebook.png" %}">
            </div>
            <div class="col-xs-4 col-md-4">
              <img src="{% static "images/twitter.png" %}">
            </div>
            <div class="col-xs-4 col-md-4">
              <img src="{% static "images/instagram.png" %}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
      <div class="container">
        <p class="pull-right muted credit">Website Development Courtesy of <a href="http://nerdsville.net/">Nerdsville LLC</a>.</p>
      </div>
    </div>
  <script src="{% static "vendor/js/jquery-2.1.4.min.js" %}"></script>
  <script src="{% static "vendor/js/bootstrap.min.js"%}"></script>
  <script>
  $(function() {
    // Setup drop down menu
    $('.dropdown-toggle').dropdown();

    // Fix input element click problem
    $('.dropdown input, .dropdown label').click(function(e) {
      e.stopPropagation();
    });
  });
  </script>
</body>
